@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

// Colors
$base-background: #35654d;
$button-bg-color: #e0c29c;
$button-border-color: #27425d;

// Fonts
$base-font: 'Rye', serif;
