@import 'variables';

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  max-height: 85vh;

  h4 {
    font-size: $text-size-xxl;
    margin: 0;
  }
}

.table {
  width: 95%;
  height: 85vh;
  background-color: $base-background;
  border-radius: 500px;
  margin: 2rem auto;
  box-shadow: 0 0 0 2px #ffd700, 0 0 0 12px #673622, 0 0 0 18px #53220e;
}

.section-outputs {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hands {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 5rem;
}

.player-hand {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.dealer-hand {
  display: flex;
  width: 50%;
}

.hands-title {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  h2 {
    margin: 0 3rem 0 3rem;
    font-size: $text-size-xxl;
  }
}

.points {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  h3 {
    font-size: $text-size-xl;
    margin: 1rem 3.5rem 1rem 3.1rem;
  }
}

.bet-text {
  font-family: $heading-font;
  font-size: $text-size;
  font-weight: bold;
}
