@import 'variables';

.App {
  text-align: center;
  font-family: $base-font;
  display: flex;
  flex-direction: column;
  max-height: 85vh;

  h4 {
    margin: 0;
  }
}

.table {
  width: 95%;
  height: 85vh;
  background-color: $base-background;
  border-radius: 500px;
  margin: 2rem auto;
  border: 5px solid black;
}

.section-outputs {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-inputs {
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-end;
}

.hands {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 5rem;

  p {
    margin: 0.25rem;
  }
}

.player-hand {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.dealer-hand {
  display: flex;
  width: 50%;
}

.hands-title {
  // height: 30vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  h2 {
    margin: 0 3rem 0 3rem;
  }
}

.points {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  h3 {
    margin: 1rem 3.5rem 1rem 3.1rem;
  }
}

button {
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
}

h2 {
  margin-top: 20px;
}

.card-icon {
  font-size: 4rem;
}

.hidden-card {
  font-size: 3.5rem;
}
