@import '../styling/variables';

button {
  font-family: $body-content-font;
  font-size: $text-size-xl;
  background-color: $button-bg-color;
  max-height: 6vh;
  border: 4px solid $button-hover-bg-color;
  box-shadow: 5px 10px 0px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-weight: 600;
  margin: 20px;
  padding: 10px 20px;
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

button:hover {
  color: $button-border-color;
  background-color: $button-hover-bg-color;
  border-color: $button-border-color;
  transform: scale(1.2);
  box-shadow: 10px 14px 0px 0px rgba(0, 0, 0, 0.5);
}
