@import 'variables';

input {
  font-family: $body-content-font;
  font-size: $text-size;
  height: 2rem;
  border: 2px solid $button-border-color;
  background-color: $button-bg-color;
  border-radius: 10px;
  border-width: medium;
}
